.features {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @include breakpoint(large) {
      flex-direction: unset;
    }
  }

  &-left {
    margin-bottom: 20px;

    @include breakpoint(large) {
      margin-bottom: unset;
    }
    img {
      width: 100%;
    }
  }

  &-right {
    max-width: 428px;
  }

  &-list {
    margin-top: 20px;
    li {
      margin-bottom: 20px;
      font-size: 1.4rem;

      &::before {
        content: url("../images/check-icon.svg");
        position: relative;
        top: 5px;
        margin-right: 12px;
      }
    }
  }
}
