.footer {
  background-color: #f8f8f8;
  padding-top: 190px;
  padding-bottom: 50px;

  .container {
    display: flex;
    flex-direction: column;

    @include breakpoint(large) {
      flex-direction: unset;
      align-items: unset;
    }

    > div:first-child {
      @include breakpoint(large) {
        flex: 2;
        max-width: 340px;
        margin-right: 230px;
      }
    }

    > div:not(:first-child) {
      @include breakpoint(large) {
        flex: 1;
      }
    }
  }

  &-logo {
    margin-bottom: 20px;
  }

  &-logo + p {
    line-height: 30px;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    margin: 30px 0;

    @include breakpoint(large) {
      flex-direction: unset;
    }
  }

  .social-icons + p {
    margin-bottom: 20px;
    @include breakpoint(large) {
      margin-bottom: unset;
    }
  }

  .social-icon {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;

    @include breakpoint(large) {
      margin-right: 20px;
      margin-bottom: unset;
    }

    img {
      height: 50%;
    }
  }

  h4 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  ul {
  }

  ul li {
    margin-bottom: 20px;
  }

  ul a:hover {
    text-decoration: underline;
  }
}
