.footer {
  background-color: #f8f8f8;
  padding-top: 190px;
  padding-bottom: 50px;

  .container {
    display: flex;

    > div:first-child {
      flex: 2;
      max-width: 340px;
      margin-right: 230px;
    }

    > div:not(:first-child) {
      flex: 1;
    }
  }

  &-logo {
    margin-bottom: 20px;
  }

  &-logo + p {
    line-height: 30px;
  }

  .social-icons {
    display: flex;
    margin: 30px 0;
  }

  .social-icon {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.19);

    img {
      height: 50%;
    }
  }

  h4 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  ul {
  }

  ul li {
    margin-bottom: 20px;
  }

  ul a:hover {
    text-decoration: underline;
  }
}
