.locations {
  .section-header {
    .section-title {
      max-width: 383px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  .locations-map-wrapper img {
    height: 100%;
    width: 100%;
  }

  .sponsored {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;

    @include breakpoint(large) {
      flex-wrap: unset;
    }
  }

  .sponsor {
    height: 30px;
    width: 95px;
    margin-bottom: 20px;

    @include breakpoint(large) {
      height: 60px;
      width: 190px;
      margin-bottom: unset;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: left;
      transition: 400ms ease;

      &:hover {
        filter: brightness(10%);
      }
    }
  }
}
