.locations {
  .section-header {
    .section-title {
      max-width: 383px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  .locations-map-wrapper svg circle {
    opacity: 0;
  }

  .locations-map-wrapper svg circle.circle--active {
    animation-name: anim;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;

    @keyframes anim {
      100% {
        opacity: 1;
      }
    }
  }

  .sponsored {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
  }

  .sponsor {
    height: 60px;
    width: 190px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: left;
      transition: 400ms ease;

      &:hover {
        filter: brightness(10%);
      }
    }
  }
}
