.plans {
  background-color: #fbfbfb;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @include breakpoint(large) {
      flex-direction: unset;
      align-items: unset;
      // flex-wrap: wrap;
      // justify-content: center;
    }
  }

  .plan {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    width: 100%;
    align-items: center;
    border: 2px solid #dddddd;
    border-radius: 10px;
    padding: 4rem;
    margin-bottom: 20px;

    @include breakpoint(large) {
      padding: 8rem 4rem;
      margin-bottom: unset;
    }

    &:nth-child(2) {
      @include breakpoint(large) {
        margin: 0 20px;
      }
    }

    &--recommended {
      border-color: $primary-color;
    }

    h3 {
      font-size: 1.8rem;
      margin: 30px 0;
    }

    &-features ul li {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }

    &-features ul li::before {
      content: url("../images/check-icon-2.svg");
      margin-right: 25px;
    }

    &-bottom {
      text-align: center;
      margin-top: auto;

      .btn {
        border-width: 2px;
      }
    }

    &-price {
      font-weight: 500;
      font-size: 2.5rem;
      margin-bottom: 20px;

      span {
        color: $text-color-1;
      }
    }
  }
}
