.quick-stats {
  .container {
    display: flex;
    box-shadow: 0 20px 60px rgba($color: #000000, $alpha: 0.09);
    padding: 20px;
    border-radius: 10px;

    > div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &:nth-child(2) {
        border-left: 2px solid #eeeff2;
        border-right: 2px solid #eeeff2;
      }

      p:first-child {
        color: $text-color-2;
        margin-bottom: 5px;
        font-size: 2.5rem;
      }

      p:last-child {
        font-size: 2rem;
      }
    }

    > div img {
      margin-right: 36.5px;
    }
  }
}
