.quick-stats {
  padding-top: 100px;

  @include breakpoint(large) {
    padding-top: 50px;
  }
  .container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 60px rgba($color: #000000, $alpha: 0.09);
    padding: 20px;
    border-radius: 10px;

    @include breakpoint(large) {
      flex-direction: unset;
    }

    > div {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      div {
        text-align: right;
      }

      @include breakpoint(large) {
        justify-content: center;
        margin-bottom: unset;
      }

      &:nth-child(2) {
        @include breakpoint(large) {
          border-left: 2px solid #eeeff2;
          border-right: 2px solid #eeeff2;
        }
      }

      p:first-child {
        color: $text-color-2;
        margin-bottom: 5px;
        font-size: 2.5rem;
      }

      p:last-child {
        font-size: 2rem;
      }
    }

    > div img {
      @include breakpoint(large) {
        margin-right: 36.5px;
      }
    }
  }
}
