.btn {
  &-cta {
    width: 100%;
    text-align: center;
    background-color: $primary-color;
    color: #ffffff;
    box-shadow: 0 20px 40px rgba($color: $primary-color, $alpha: 0.35);

    &:hover {
      box-shadow: 0 20px 40px rgba($color: $text-color-2, $alpha: 0.35);
      background-color: $text-color-2;
    }

    @include breakpoint(large) {
      width: unset;
    }
  }

  &--small {
    padding: 1.3rem 4.5rem;
  }

  &--medium {
    padding: 1.25rem 6.3rem;
  }

  &--large {
    padding: 2.1rem 3.75rem;

    @include breakpoint(large) {
      padding: 2.1rem 7.75rem;
    }
  }

  &--outlined {
    border: 1px solid $primary-color;
    color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: #ffffff;
    }
  }

  &--rounded {
    border-radius: 10px;
  }

  &--rounded-full {
    border-radius: 1000px;
  }
}
