* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  -webkit-tap-highlight-color: transparent;
  color: $text-color-1;

  @include breakpoint(large) {
    font-size: 1.6rem;
  }
}

h1,
h2,
h3,
h4 {
  color: $text-color-2;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $text-color-1;
  display: inline-block;
  transition: all 200ms ease;
}

section {
  padding: 50px 0;
}

.section-header {
  margin: 0 auto 60px;
  max-width: 270px;
  text-align: center;

  @include breakpoint(large) {
    max-width: 555px;
  }
}

.section-title {
  font-size: 2.6rem;
  margin-bottom: 20px;

  @include breakpoint(large) {
    font-size: 3.5rem;
  }
}

.section-subtitle {
  line-height: 30px;
}

.small-nav {
  padding-right: 20px;
  padding-top: 150px;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  z-index: 100;
  transition: right 400ms ease;

  @include breakpoint(large) {
    display: none;
  }

  &--active {
    right: 0;
  }

  ul {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  ul li {
    margin-bottom: 40px;
  }

  ul li a {
    font-size: 3rem;
    color: #fff;

    &:hover {
      color: $text-color-2;
    }
  }
}
