* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  -webkit-tap-highlight-color: transparent;
  color: $text-color-1;

  @include breakpoint(large) {
    font-size: 1.6rem;
  }
}

h1,
h2,
h3,
h4 {
  color: $text-color-2;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $text-color-1;
  display: inline-block;
  transition: all 200ms ease;
}

section {
  padding: 50px 0;
}

.section-header {
  margin: 0 auto 60px;
  max-width: 270px;
  text-align: center;

  @include breakpoint(large) {
    max-width: 555px;
  }
}

.section-title {
  font-size: 2.6rem;
  margin-bottom: 20px;

  @include breakpoint(large) {
    font-size: 3.5rem;
  }
}

.section-subtitle {
  line-height: 30px;
}

.small-nav {
  padding: 100px 20px 20px;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: $text-color-2;
  z-index: 100;
  transition: right 400ms ease;
  display: flex;
  flex-direction: column;

  @include breakpoint(large) {
    display: none;
  }

  &--active {
    right: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    position: relative;

    &:first-child::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      background-color: #fff;
      height: 1px;
      width: 20%;
    }

    & + ul {
      margin-top: 40px;
    }
  }

  ul li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul li a {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700;
    padding: 10px 0;

    &:hover {
      color: $primary-color;
    }
  }

  &-bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      height: 44px;
      width: 44px;
      padding: 10px;

      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}
