.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-700 {
  font-weight: 700;
}

.overflow-h {
  overflow: hidden;
  @include breakpoint(large) {
    overflow: unset;
  }
}
